body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #F4F3F2;
}

header{
    background: linear-gradient(135deg, #007BFF, #0056b3);
    border-bottom: #fff solid 1.5px;
}

.hero{
    background: linear-gradient(135deg, #007BFF, #0056b3);
    color: #fff;
}

.hero h2{
    font-size: 2.5rem;
}

.hero p{
    font-size: 1.2rem;
}

footer{
    font-size: 0.9rem;
}

.card{
    border:none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
}

.card-title{
    font-size: 1.25rem;
    font-weight: 600;
}

.card-text{
    font-size: 1rem;
}

.carousel-control-prev, .carousel-control-next{
    color: #007BFF;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #007BFF;
}

@media(max-width:768px){
    .hero h2{
        font-size: 2rem;
    }

    .hero p{
        font-size: 1rem;
    }

    .card-title{
        font-size: 1.125rem;
    }

    .card-text{
        font-size: 0.875rem;
    }
}